body{
    background: linear-gradient(rgb(183, 59, 194,0.8), rgb(60, 0, 121,0.99));
    background-repeat: no-repeat;
    height: 100vh;
}
h1{
    text-align: center;
}
.task-entry{
    text-align: center;
}
.task-list{
    text-align: center;
}
.comp-list{
    text-align: center;
}
input{
    border: white;
    border-radius: 4px;
    min-height: 3vh;
}
.task-create, button{
    background: linear-gradient(rgb(244, 95, 227), rgb(118, 5, 71));
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    min-height: 3vh;
}
.tasks, .cl_1{
    display: flex;
    justify-content: center;
    padding: 4px;
}
.tasks button, .cl_1 button{
    padding: 2px;
    margin: 2px;
    min-height: 3vh;
}
.tasks input, .cl_1 input{
    padding: 2px;
    margin: 2px;
    min-height: 3vh;
}